<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" [routerLink]="['/']">Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/products']"
              routerLinkActive="active"
              >Products</a>
            </li>
             <li class="nav-item" *appShowAuthed = "true">
              <a class="nav-link" [routerLink]="['/my-products']"
              routerLinkActive="active"
              >My Products</a>
            </li>
          </ul>

          <ul class="navbar-nav justify-content-end" *appShowAuthed = "true">
            <li class="nav-item">
              <button class="btn btn-small btn-danger" (click)="logout()">Logout</button>
            </li>
 
          </ul>

          <ul class="navbar-nav justify-content-end" *appShowAuthed = "false">
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/signup']">Signup</a>
            </li>
 
          </ul>
          
        </div>
      </nav>
    </header>

