<div class="col-lg-4 offset-lg-4">
  <h4 class="text-center">Login Here</h4>
  <div class="alert alert-danger" *ngIf = "hasError" role="alert">
  Please fill out all the details.
  </div>
<form (ngSubmit)="login()" novalidate [formGroup]="loginGroup">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
    <div class="feedback" *ngIf="loginGroup.controls['email'].errors && (loginGroup.controls['email'].dirty ||loginGroup.controls['email'].touched)">
        <span *ngIf="loginGroup.controls['email'].errors?.required">
          Email is Required.
        </span>
        <span *ngIf="loginGroup.controls['email'].errors?.pattern">
          Email is Invalid.
        </span>
      </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
    <div class="feedback" *ngIf="loginGroup.controls['password'].invalid && (loginGroup.controls['password'].dirty ||loginGroup.controls['password'].touched)">
        password is Required.
      </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>